.active {
}

.all {
  border: 3px solid black !important;
  height: 100px;
  width: 100px;
  display: flex;
}

.all div {
  border: 5px solid black !important;
}

.completed {
  border: 3px solid grey;
}
